<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/index.css" rel="stylesheet" type="text/css" />
    <title>Wordle | Highscores</title>
  </head>
  <body>
    <h1>Wordle</h1>

    <table>
      <caption>
        Highscores
      </caption>
      <tr>
        <th>Place:</th>
        <th>Name:</th>
        <th>Time:</th>
        <th>Guesses:</th>
        <th>Word Length:</th>
        <th>Unique Letters:</th>
      </tr>
      <% for(let i = 0; i < user.length; i++) { %>
      <tr>
        <td><%= i + 1 %>.</td>
        <td><%= user[i].name %></td>
        <td><%= user[i].time %>s</td>
        <td><%= user[i].guesses.length %></td>
        <td><%= user[i].wordLength %></td>
        <td><%= user[i].uniqueLetters %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
